node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
*.data.json
.idea
.vscode
cucumber-report/
reports/
screenshots/
package-lock.json
cucumber-report.html
queryResults/
download_path/
*.env
.env
cucumber.json
cspell.json
